<div class="ma-service-show">
					<div class="m1-tray-wrapper">
						<div class="m1-tuning-parts">
							<div class="m1-tray" @click="engineA">
								<div class="m1-label">Engine</div>
								<div class="m1-value">{{ engine }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">breaks</div>
								<div class="m1-value">{{ breaks }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">transmission</div>
								<div class="m1-value">{{ transmission }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">suspension</div>
								<div class="m1-value">{{ suspension }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">turbo</div>
								<div class="m1-value">{{ turbo }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">boost</div>
								<div class="m1-value">{{ boost }}</div>
							</div>
						</div>
						<div class="m1-custom-parts">
							<div class="m1-tray">
								<div class="m1-label">horn</div>
								<div class="m1-value">{{ horn }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">xenon</div>
								<div class="m1-value">{{ xenon }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">tint</div>
								<div class="m1-value">{{ tint }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">plate</div>
								<div class="m1-value">{{ plate }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">spoiler</div>
								<div class="m1-value">{{ spoiler }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">fbumper</div>
								<div class="m1-value">{{ fbumper }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">rbumper</div>
								<div class="m1-value">{{ rbumper }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">skirt</div>
								<div class="m1-value">{{ skirt }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">armor</div>
								<div class="m1-value">{{ armor }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">hydraulics</div>
								<div class="m1-value">{{ hydraulics }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">wheels</div>
								<div class="m1-value">{{ wheels }}</div>
							</div>	
						</div>
						<div class="m1-garage-services">
							<div class="m1-tray">
								<div class="m1-label">Body Health</div>
								<div class="m1-value">{{ bodyhealth }}</div>
							</div>
							<div class="m1-tray">
								<div class="m1-label">Engine Health</div>
								<div class="m1-value">{{ enginehealth }}</div>
							</div>
							<div class="m1-tray" @click="repair">
								<div class="m1-label">Repair Vehicle</div>
								<div class="m1-value">{{ repairammount }}</div>
							</div>	
						</div>
					</div>
				</div>